{% extends 'withdash.html' %}
{% load render_partial %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/convo.css"/>
{% endblock css %}


{% block title %}Practice | verbalite{%endblock%}

{% block javascript %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="column-800">
    <div class="convo-title">
        Job Interview
    </div>
    <div class="progress">
        <div class="item item-current">1</div>
        <div class="item item-noncurrent">2</div>
        <div class="item item-noncurrent">3</div>
        <div style="clear: both;"></div>
    </div>
    <div class="dialog-interviewer dialog">
        <div class="dialog-title">
            Interviewer
        </div>
        <div class="dialog-content">
            <div class="player">
                <span class="play-icon"></span>
                <span class="text">Play</span>
            </div>
            <a class="show-script" href="" onclick="$(this).toggle();$(this).next().toggle(); return false;">
                Show Script
            </a>
            <div class="script" style="display:none;">
                What are your favorite programming languages?
            </div>
        </div>
    </div>

    <div class="dialog-speaker dialog">
        <div class="dialog-title">
            You
        </div>
        <div class="dialog-content">
            <div class="player">
                <span class="play-icon"></span>
                <span class="text">Play</span>
            </div>
            <a class="show-script" href="" onclick="$(this).toggle();$(this).next().toggle(); return false;">
                Show Script
            </a>
            <div class="script" style="display:none;">
                What are your favorite programming languages?
            </div>
            <div class="record">
                <span class="play-icon"></span>
                <span class="text">Record</span>
            </div>
        </div>
    </div>

    <div class="next-phrase-area">
        <button class="next-phrase">
            Next Line
        </button>
    <div>
</div>
{% endblock content %}
