{% extends 'withdash.html' %}
{% load render_partial %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/practice.css"/>
{% endblock css %}


{% block title %}Practice | socialite{%endblock%}
{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    var recorderLoaded = false;
    var submitted = false;
    var recorded = false;
    var timesRecorded = 0;
    $(function() {
        $(window).bind('checkMuted', function(event, muted) {
            console.log('check muted: ' + muted);
            recorderLoaded = true;
        });
        $(window).bind('recorderStart', function() {

        });
        $(window).bind('recorderEnd', function() {
            recorded = true;
            timesRecorded++;
        });
        $(window).bind('recorderSubmit', function() {
            submitted = true;
        });
    });

    function nextPhrase() {
        if (recorded && !submitted) {
            var proceed = confirm("Your recording has not been submitted. Proceed anyway?");
            if (proceed) {
                window.location = "{{next_url}}";
            }
        } else {
            window.location = "{{next_url}}";
        }
    }

    window.onload = resizewin; 
     function resizewin (addmargin) { 
      try{ 
       if ($.browser.mozilla) { 
        $(window).resize(addMargin).resize(); 
       } 
      }catch(ex){} 

      function addMargin() { 
          $(".yourself .recorder ").css('margin-left', window.outerWidth % 2 ? '0' : '0.5px') 
      } 
     } 

</script>
{% endblock javascript %}


{% block content %}
<div class="column-800">
    <div class="center-column">
        <div class="info">
            <div class="set">
              {{ phrase_set.title }}
            </div>
            <div class="progress">
                Phrase #{{ phrase_num }} out of {{ phrases_in_set }}
            </div>
        </div>
        <div class="everything">
            <div class="prompt">
                <div class="instructions">
                    Phrase or word we're practicing:
                </div>
                <div class="phrase">
                    "{{phrase.english}}"
                </div>
            </div>
            <div class="expert">
                <div class="instructions">
                    Hear the expert say it.
                </div>
                {% render_partial player.html title:'Expert Recording' mp3Url:expert_url %}
            </div>

            <div class="yourself">
                <div class="instructions">
                    Now try saying "{{phrase.english}}" yourself.  <BR />
                    When you are satisfied with your recording, click "Submit" and you'll get feedback later from other language learners.
                </div>
                {% render_partial recorder.html type:'record' title:'test' upload_params:upload_params_encoded%}
            </div>

            <div class="next">
                {% if last_one %}
                <button class="next-button" onclick="window.location='/review/'">
                    Finish Set
                </button>
                {% else %}
                <button class="next-button" onclick="nextPhrase()">
                    Next Phrase
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
