{% extends 'withdash.html' %}
{% load render_partial %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/practice.css"/>
{% endblock css %}


{% block title %}Practice | socialite{%endblock%}
{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    var recorderLoaded = false;
    var submitted = false;
    var recorded = false;
    var timesRecorded = 0;
    $(function() {
        mpmetrics.track("Practice Page");
        mpmetrics.track("Practice Question #{{phrase_num}}");

        $(window).bind('checkMuted', function(event, muted) {
            console.log('check muted: ' + muted);
            recorderLoaded = true;
        });
        $(window).bind('recorderStart', function() {

        });
        $(window).bind('recorderEnd', function() {
            recorded = true;
            timesRecorded++;
            mpmetrics.track("Recording Made");
            $(function() {
                _kmq.push(['record', 'Recording Made']);
            });
        });
        $(window).bind('recorderSubmit', function() {
            submitted = true;
            mpmetrics.track("Recording Submitted");
            $(function() {
                _kmq.push(['record', 'Recording Submitted']);
            });
        });
    });

    function nextPhrase() {
        if (recorded && !submitted) {
            mpmetrics.track("Tried without recording");
            var proceed = confirm("Your recording has not been submitted. Proceed anyway?");
            if (proceed) {
                mpmetrics.track("Proceeded without recording");
                window.location = "{{next_url}}";
            }
        } else {
            window.location = "{{next_url}}";
        }
    }

    window.onload = resizewin; 
     function resizewin (addmargin) { 
      try{ 
       if ($.browser.mozilla) { 
        $(window).resize(addMargin).resize(); 
       } 
      }catch(ex){} 

      function addMargin() { 
          $(".yourself .recorder ").css('margin-left', window.outerWidth % 2 ? '0' : '0.5px') 
      } 
     } 

</script>
{% endblock javascript %}


{% block content %}
<div class="column-800">
    <div class="center-column">
        <div class="info">
            <div class="set">
              {{ phrase_set.title }}
            </div>
            <div class="progress">
                Phrase #{{ phrase_num }} out of {{ phrases_in_set }}
            </div>
        </div>
        <div class="progress-area">
            <div class="progress-bar">
                <div class="progress-bar-inner" style="width:{{phrase_percent}}%">
                    <div class="text">
                        Phrase #{{ phrase_num }} out of {{ phrases_in_set }}
                    </div>
                </div>
            </div>
        </div>
        <div class="prompt">
            <div class="phrase">
                "{{phrase.english}}"
            </div>
        </div>
        <div class="step expert">
            <div class="step-number">
                1
            </div>
            <div class="step-text">
                Listen to the Expert
            </div>
            <div style="clear: both;"></div>
            <div class="step-contents">
                {% render_partial player.html title:'Expert Recording' mp3Url:expert_url %}
            </div>
        </div>

        <div class="step yourself">
            <div class="step-number">
                2
            </div>
            <div class="step-text">
                Record Yourself
            </div>
            <div style="clear: both;"></div>
            <div class="step-contents">
                {% render_partial recorder.html type:'record' title:'test' upload_params:upload_params_encoded%}
                <a class="help" onclick="$(this).next().toggle(); return false;">Help</a>
                <div class="instructions" style="display:none">
                    Try repeating it as many times as you'd like.<BR />
                    Then click "Submit" and you'll get feedback later from other language learners.
                    <div class="cant-see">
                        (If a dialog appears above, hit "Allow" then "Close")
                    </div>
                </div>

            </div>
        </div>
        <div style="clear:both;"></div>

        <div class="next">
            {% if last_one %}
            <button class="next-button" onclick="window.location='/finished/?set_id={{phrase_set.id}}'">
                Finish Set
            </button>
            {% else %}
            <button class="next-button" onclick="nextPhrase()">
                Next Phrase
            </button>
            {% endif %}
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
{% endblock %}
