{% extends 'base.html' %}
{% load render_partial %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/practice.css"/>
{% endblock css %}


{% block title %}Practice{%endblock%}
{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript">
    function recorderNeedsPermissions(val) {
        console.log("Recorder needs permission: " + val);

        if (val) {
            //$("object").attr('height',138);
        } else {
            //$("object").attr('height',50);
        }
    }

window.onload = resizewin; 
 function resizewin (addmargin) { 
  try{ 
   if ($.browser.mozilla) { 
    $(window).resize(addMargin).resize(); 
   } 
  }catch(ex){} 

  function addMargin() { 
      $(".yourself .recorder ").css('margin-left', window.outerWidth % 2 ? '0' : '0.5px') 
  } 
 } 

</script>
{% endblock javascript %}


{% block body %}
<div class="center-column">
    <div class="set">
      {{ phrase_set.title }}
    </div>
    <div class="everything">
        <div class="prompt">
            <div class="phrase">
                {{phrase.english}}
            </div>
        </div>
        <div class="expert">
            <div class="instructions">
                Hear the expert say it.
            </div>
            {% render_partial player.html title:'Expert Recording' mp3Url:expert_url %}
        </div>

        <div class="yourself">
            <div class="instructions">
                Now try it yourself.
            </div>
            {% render_partial recorder.html type:'record' title:'test' upload_params:upload_params_encoded%}
        </div>

        <div class="next">
            {% if last_one %}
            <button class="next-button" onclick="window.location='/review/'">
                Finish
            </button>
            {% else %}
            <button class="next-button" onclick="window.location='{{next_url}}'">
                Next
            </button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
