{% extends 'base.html' %}
{% load render_partial %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/review.css"/>
{% endblock css %}

{% block title %}Review{%endblock%}

{% block javascript %}
{{ block.super }}
{% endblock javascript %}

{% block body %}
<div class="center-column">
    <div class="title">
        Review Your Feedback
    </div>
    <div class="feedbacks">
        <div class="feedback">
            <div class="phrase">
                "What's on draft?"
            </div>
            <div class="expert">
                {% render_partial player.html mp3Url:'http://localhost:8000/static/sample.mp3' title:'Expert' %}
            </div>
            <div class="yours">
                {% render_partial player.html mp3Url:'http://localhost:8000/static/sample.mp3' title:'Your Submission' %}
            </div>
            <div class="responses">
                <div class="responses-title">
                    New Feedback on Your Recording:
                </div>
                <div class="response response-new">
                    {% render_partial player.html mp3Url:'http://localhost:8000/static/sample.mp3' title:'Feedback from Angelo' %}
                </div>
            </div>
            <button class="try-again-button">Record Again</button>
        </div>
        <div class="feedback">
            <div class="phrase">
                "Red Wine, please."
            </div>
            <div class="expert">
                {% render_partial player.html mp3Url:'http://localhost:8000/static/sample.mp3' title:'Expert' %}
            </div>
            <div class="yours">
                {% render_partial player.html mp3Url:'http://localhost:8000/static/sample.mp3' title:'Your Submission' %}
            </div>
            <div class="responses">
                <div class="responses-title">
                    New Feedback on Your Recording:
                </div>
                <div class="response response-old">
                    {% render_partial player.html mp3Url:'http://localhost:8000/static/sample.mp3' title:'Feedback from Jenny' %}
                </div>
            </div>
            <button class="try-again-button">Record Again</button>
        </div>
    </div>
</div>
{% endblock body %}
