{% extends 'withdash.html' %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sets.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.7.custom.css"/>
{% endblock css %}

{% block title %}Sets{%endblock%}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
{% endblock javascript %}

{% block content %}
<div class="column-800">
    <div class="title">
        Practice Sets
    </div>
    <div class="instructions">
        Each set helps you practice a different set of sounds english language learners try to learn.  Pick any one to get started.
    </div>
    <div class="sets">
        {% for phrase_set,recordings,responses,status in phrase_set_objs %}
        <div class="set">
            <div class="set-title" onclick="window.location='/practice/{{phrase_set.id}}/'">
                <a href="/practice/{{phrase_set.id}}/">{{ phrase_set.title }}</a>
            </div>
            <div class="set-status">
                {% ifequal status 'untaken' %}
                New
                {% endifequal %}
                {% ifequal status 'taken' %}
                Awaiting feedback
                {% endifequal %}
                {% ifequal status 'responses' %}
                <a href="/review/?set_id={{phrase_set.id}}">
                    {{responses|length}} responses
                </a>
                {% endifequal %}
            </div>
            <div style="clear: both"></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
