{% extends 'base.html' %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sets.css"/>
{% endblock css %}

{% block title %}Sets{%endblock%}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
{% endblock javascript %}

{% block body %}
<div class="center-column">
    <div class="title">
        Try Phrases from a Real Life Situation
    </div>
    <div class="sets">
        {% for phrase_set in phrase_sets %}
        <div class="set" onclick="window.location='/practice/{{phrase_set.id}}/'">
            {{ phrase_set.title }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}
