.situations {
  margin-top: 5px;
  float: left;
  margin-left: 10px; }
  .situations .situations-title {
    font-size: 24px;
    color: #111;
    font-weight: bold;
    margin-bottom: 18px; }
  .situations .situation {
    margin-bottom: 20px; }
    .situations .situation .pic {
      float: left;
      width: 150px; }
    .situations .situation .right-area {
      float: left;
      margin-left: 20px;
      width: 395px; }
      .situations .situation .right-area .button {
        color: white;
        float: right; }
      .situations .situation .right-area .name {
        font-size: 24px; }
        .situations .situation .right-area .name a {
          color: black;
          text-decoration: none; }
      .situations .situation .right-area .description {
        font-size: 13px;
        color: #222;
        margin-top: 8px; }

.taken-situations {
  float: right;
  width: 270px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
  margin-top: 5px;
  min-height: 300px; }
  .taken-situations .taken-title {
    font-size: 20px;
    font-weight: bold;
    color: #111;
    margin-bottom: 18px; }
  .taken-situations .situation {
    font-size: 14px;
    margin-bottom: 15px; }
    .taken-situations .situation .name a {
      color: #222;
      text-decoration: none; }
    .taken-situations .situation .start {
      float: right;
      color: #66b;
      text-decoration: none;
      font-size: 12px;
      margin-top: 2px; }
    .taken-situations .situation .start:hover {
      color: #00b; }
    .taken-situations .situation .ago {
      font-size: 11px; }
    .taken-situations .situation .status {
      font-size: 11px; }
    .taken-situations .situation .waiting-for-review {
      color: #A09911; }
    .taken-situations .situation .unfinished {
      color: #FF5B46; }
