.convo-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px; }

.progress {
  margin: 0 auto 20px auto;
  width: 300px;
  text-align: center; }
  .progress .item {
    text-align: center;
    border: 1px solid blue;
    padding: 3px 5px;
    font-size: 16px;
    font-family: Arial;
    width: 20px;
    margin-left: 10px;
    display: inline-block; }
  .progress .item-current {
    color: white;
    background-color: blue; }
  .progress .item-noncurrent {
    cursor: pointer; }
  .progress .item-noncurrent:hover {
    background-color: #eee; }

.dialog-interviewer .dialog-title {
  background-color: orange; }

.dialog-speaker .dialog-title {
  background-color: #1744A8; }

.dialog {
  margin-top: 20px; }
  .dialog .dialog-title {
    color: white;
    border-width: 1px 1px 0 1px;
    border-color: #eee;
    border-style: solid;
    padding: 3px 5px;
    font-weight: bold; }
  .dialog .dialog-content {
    border-width: 0 1px 1px 1px;
    border-color: #eee;
    border-style: solid;
    padding: 3px 5px;
    font-size: 12px; }

.submit-review {
  text-align: right;
  margin-top: 10px; }
  .submit-review input {
    font-size: 20px; }
  .submit-review label {
    font-size: 12px; }

.next-phrase-area {
  text-align: right;
  margin-top: 10px; }
  .next-phrase-area button.next-phrase {
    padding: 5px 3px;
    font-size: 30px; }
