.center-column {
  width: 400px;
  margin: 0 auto; }

.info {
  margin: 20px 0 40px 0;
  background-color: #ddd;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  color: black;
  text-align: center;
  padding: 8px 15px;
  width: 360px; }
  .info .set {
    font-size: 20px; }

.prompt .instructions {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px; }
.prompt .phrase {
  font-size: 36px;
  margin-bottom: 20px;
  color: #00a; }

.expert .instructions {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px; }

.yourself {
  margin-top: 30px; }
  .yourself .instructions {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; }

.next {
  margin-top: 20px; }
  .next .next-button {
    padding: 5px 10px;
    font-size: 20px; }

.recorder {
  border: 1px solid #eee; }
