@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin shadow($color: #333333, $distance: 0px, $spread:2px) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: $distance $distance $spread $color;
  box-shadow: 0px 1px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}

body {
}
.center-column {
    margin-left: 20px;
}

.info {
    margin: 20px 0 40px 0;
    background-color: #E8FFCD;
    @include border-radius(20px);
    color: black;
    text-align: center;
    padding: 8px 15px;
    width: 700px;
    display:none;
    .set {
        font-size: 20px;
    }
    .progress {

        display:none;
    }
}
.progress-area {
    margin: 10px 0 20px 0;
    .progress-bar {
        background-color: #BBB;
        color: #000;
        font-size: 24px;
        @include border-radius(6px);
        margin: 0px 0 0px 0;
        width: 750px;

        .progress-bar-inner {
            background-color: #22D71B;
            @include border-radius(6px);
            //overflow: hidden;
            padding: 6px 0;
            //background: url('/static/images/timer-bg.png');

            .text {
                color: white;
                font-weight: bold;
                margin-left: 8px;
                //overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}
.prompt {
    .phrase{
        text-align:center;
        font-size: 36px;
        margin-bottom: 20px;
        color: #00a;
    }
}

.step {
    .step-number {
        font-size: 24px;
        color:white;
        background-color: #333;
        border: 4px solid #aaa;
        padding: 3px 5px;
        @include border-radius(6px);
        width: 34px;
        text-align:center;
        float:left;
    }
    .step-text {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin: 8px 0 0 14px;
        float: left;
    }
    .step-contents {
        margin-left: 0px;
        margin-top: 20px;
    }
}



.expert {
    float:left;
    width: 390px;
}

.yourself {
    width: 390px;
    float:right;
    .help {
        color: blue;
        cursor: pointer;
        text-decoration:underline;
        font-size: 12px;
    }
    .help:hover {
    }
    .instructions {
        font-size: 12px;
        color: #333;
        margin-bottom: 10px;
    }
    .cant-see {
        font-size:11px;
        color: #e66;
        margin-top: 8px;
    }

}

.next {
    margin-top: 40px;
    margin-right: 80px;
    float:right;
    .next-button {
        padding: 8px 10px;
        font-size: 36px;

    }
}

.recorder {
    border: 1px solid #eee;
}

