.center-column {
  margin: 0 auto;
  width: 400px; }

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px; }

.feedback {
  margin-bottom: 20px;
  border: 2px solid #ddd; }
  .feedback .phrase {
    font-size: 30px;
    color: #00a;
    margin-top: 10px; }
  .feedback .responses .response {
    padding-left: 5px; }
    .feedback .responses .response .new {
      color: white;
      background-color: #090;
      padding: 2px 6px;
      font-weight: bold;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px; }
  .feedback .responses .response-new {
    border-left: 3px solid #393; }
  .feedback .responses .response-old {
    border-left: 3px solid #333; }
  .feedback .try-again-button {
    margin-top: 8px;
    padding: 3px 5px;
    font-size: 16px; }
