.title {
  font-size: 24px;
  font-weight: bold; }

.instructions {
  margin-top: 5px;
  width: 600px; }

.sets {
  margin-top: 30px;
  width: 600px; }
  .sets a {
    color: blue;
    text-decoration: none; }
  .sets a:hover {
    text-decoration: underline; }
  .sets .set {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 2px 6px;
    background-color: #FFF6D9; }
    .sets .set .set-title {
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      cursor: pointer;
      float: left; }
    .sets .set .set-status {
      float: right;
      font-size: 20px; }
