.center-column {
    width: 800px;
    margin: 0 auto;
}
.title {
    font-size:30px;
    font-weight: bold;
}
.sets {
    margin-top: 30px;
    width: 600px;
    .set {
        background-color:#FFF6D9;
        font-size: 24px;
        cursor: pointer;
        margin-bottom: 10px;
        padding: 2px 4px;
    }
    .set:hover {
        background-color:#FFF7BD;
    }
}
