{% extends 'base.html' %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/homepage.css"/>
{% endblock css %}

{% block title %}verbalite{%endblock%}

{% block javascript %}
{{ block.super }}
{% endblock javascript %}

{% block body %}
<div class="homepage-dash">
    <div class="dash-contents">
        <img class="logo" src="{{STATIC_URL}}images/logo.png">
        <div class="links">
            {% if user.is_authenticated %}
            <a href="/sets/">Practice</a>
            <a href="/logout/">Logout</a>
            {% else %}
            <a href="/login/">Login</a>
            <!--<a href="/register/">Register</a>-->
            {% endif %}
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

<div id="container">
    <div class="title">
        Verbalite
    </div>
    <div class="subtitle">
        Pronounce English Like a Native
    </div>
    <div class="bullets">
        <ul>
            <li class='item'>Practice By Speaking</li>
            <li class='item'>Get feedback from real speakers</li>
        </ul>
    </div>
    <div class="register">
        <div class="register-subtitle">Try It Free!</div>
        <form method="POST">
            {{ errors }}
            <div class="form-line">
                <label>Username:</label>
                {{form.username}}
                <div class="errors">
                    {{form.username.errors}}
                </div>
            </div>
            <div class="form-line">
                <label>Email:</label>
                {{form.email}}
                <div class="errors">
                    {{form.errors.email}}
                </div>
            </div>
            <div class="form-line">
                <label>Password:</label>
                {{form.password}}
                <div class="errors">
                    {{form.errors.password}}
                </div>
            </div>
            <div class="form-line">
                <button type="submit" value="Register" class="submit" onclick="$('#register-form').submit()">
                    Create Your Account
                </button>
            </div>
        </form>
    </div>
    <div style="clear: both;"></div>
</div>
{% endblock body %}
