{% extends 'base.html' %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/homepage.css"/>
{% endblock css %}

{% block title %}verbalite{%endblock%}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
{% endblock javascript %}

{% block analytics %}
{{ block.super }}

<script type="text/javascript">
    $(function() {
        _kmq.push(['record', 'Viewed Homepage']);
        mpmetrics.track("View Homepage");
    });

</script>
{% endblock %}


{% block body %}
<div class="homepage-dash">
    <div class="dash-contents">
        <img class="logo" src="{{STATIC_URL}}images/logo.png">
        <div class="links">
            {% if user.is_authenticated %}
            <a href="/sets/">Practice</a>
            <a href="/logout/">Logout</a>
            {% else %}
            <a href="/login/">Login</a>
            <!--<a href="/register/">Register</a>-->
            {% endif %}
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

<div id="container">
    <div class="headline">
        Speak English Flawlessly
    </div>
    <img class="main-image" src="{{STATIC_URL}}images/friends.jpg" />
    <div class="right-column">
        <div class="secondary-headline">
            Practice by hearing experts and recording your own voice.
        </div>
        <div class="info">

        </div>
        <div class="register">
            <div class="register-subtitle">Start Practicing Now, <span class="free">Its Free!</span></div>
            <form method="POST">
                {{ errors }}
                <div class="form-line">
                    <label>Username:</label>
                    {{form.username}}
                    <div class="errors">
                        {{form.username.errors}}
                    </div>
                </div>
                <div class="form-line">
                    <label>Email:</label>
                    {{form.email}}
                    <div class="errors">
                        {{form.errors.email}}
                    </div>
                </div>
                <div class="form-line">
                    <label>Password:</label>
                    {{form.password}}
                    <div class="errors">
                        {{form.errors.password}}
                    </div>
                </div>
                <div class="form-line">
                    <button type="submit" value="Register" class="submit" onclick="$('#register-form').submit()">
                        Create Your Account
                    </button>
                </div>
            </form>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>


    <div class="lower">
        <div class="lower-headline">
            How It Works
        </div>
        <div class="step step-1">
            <img src="{{STATIC_URL}}images/homepage-step1.png" >
            <div class="text-area">
                <div class="directive">
                    Listen to experts.
                </div>
                <div class="explanation">
                    Listen to native speakers say the phrases naturally yet clearly.
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="step step-2">
            <img src="{{STATIC_URL}}images/homepage-step2.png">
            <div class="text-area">
                <div class="directive">
                    Record your own voice
                </div>
                <div class="explanation">
                    Record yourself practicing the words in your own browser, and keep trying
                    as many times as you'd like.
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="step step-3">
            <img src="{{STATIC_URL}}images/homepage-step3.png">
            <div class="text-area">
                <div class="directive">
                    Get feedback from the community
                </div>
                <div class="explanation">
                    Optionally submit your practice recordings and get helpful audio feedback from real
                    native speakers and other language learners.
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

</div>
{% endblock body %}
