{% extends 'base.html' %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css"/>
{% endblock css %}

{% block title %}Mimic Me{%endblock%}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
{% endblock javascript %}

{% block body %}

<h3>Login</h3>
<form action="/login/" method="post" accept-charset="utf-8">
<label for="username">Username</label><input type="text" name="username" value="" id="username" />
<label for="password">Password</label><input type="password" name="password" value="" id="password" />
<p><input type="submit" value="Login →"></p>


{% endblock body %}
