{% extends 'themeddash.html' %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css"/>
{% endblock css %}

{% block javascript %}
{{ block.super }}
{% endblock javascript %}

{% block header_title %}Login{% endblock %}

{% block content %}

    <div class="container">
        <form action="" method="post" id="login-form">
            <div class="form-line">
                <label for="username">Username</label>
                <span class="field-error">
                    {% for error in form.username.errors %}
                    {{ error }}
                    {% endfor %}
                </span>
                {{ form.username }}
            </div>
            <div class="form-line">
                <label for="password">Password</label>
                <span class="field-error">
                    {% for error in form.password.errors %}
                    {{ error }}
                    {% endfor %}
                </span>
                {{ form.password }}
            </div>
            <div class="send_form">
                <a href="/" onclick="$('#login-form').submit(); return false;" class="button" id="send"><span>Login</span></a>
            </div>
        </form>
    </div>

{% endblock content %}
