{% extends 'withdash.html' %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css"/>
{% endblock css %}

{% block title %}Mimic Me{%endblock%}

{% block javascript %}
{{ block.super }}
{% endblock javascript %}

{% block content %}

<div class="column-800">
    <div class="container">
        <div class="header">Login</div>
        <form action="/login/" method="post">
            <div class="form-line">
                <label for="username">Username</label>
                <input type="text" name="username" value="" id="username" />
            </div>
            <div class="form-line">
                <label for="password">Password</label>
                <input type="password" name="password" value="" id="password" />
            </div>
            <button class="submit" type="submit" value="Login →" onclick="$('form').submit()">Login</button>
        </form>
    </div>
</div>

{% endblock content %}
