{% extends 'base.html' %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/withdash.css"/>
{% endblock css %}

{% block title %}Socialite{%endblock%}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
{% endblock javascript %}

{% block body %}
<div class="dash">
    <div class="dash-contents">
        <div class="logo">Verbalite</div>
        <div class="links">
            {% if user.is_authenticated %}
            <a href="/login/">Login</a>
            <a href="/register/">Register</a>
            {% else %}
            <a href="/sets/">Practice</a>
            {% endif %}
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

{% block content %}
{% endblock content %}

{% endblock body %}
