.homepage-dash {
  width: 800px;
  margin: 0 auto 0 auto;
  opacity: 0.9;
  background-color: white;
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
  -moz-border-radius: 0px 0px 8px 8px;
  -webkit-border-radius: 0px 0px 8px 8px; }
  .homepage-dash .logo {
    float: left;
    height: 65px; }
  .homepage-dash .links {
    float: right;
    margin-top: 17px;
    font-size: 20px;
    margin-right: 20px;
    font-weight: bold; }
    .homepage-dash .links a {
      text-decoration: none;
      color: darkblue; }
    .homepage-dash .links a:hover {
      text-decoration: underline; }

#container {
  width: 800px;
  margin: 40px auto 0 auto;
  opacity: 0.9;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  color: black;
  padding-bottom: 30px; }

.headline {
  margin: 0 0 25px 10px;
  font-size: 36px;
  font-weight: bold;
  color: #045cbe; }

.main-image {
  float: left;
  margin-left: 10px;
  width: 370px;
  margin-top: 8px; }

.right-column {
  float: right;
  width: 390px; }
  .right-column .secondary-headline {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; }
  .right-column .bullets ul, .right-column .bullets li {
    margin: none;
    padding: none; }
  .right-column .bullets .item {
    font-size: 20px; }
  .right-column .register .register-subtitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold; }
  .right-column .register .form-line {
    margin-bottom: 5px; }
    .right-column .register .form-line label {
      width: 120px;
      display: inline-block;
      font-size: 18px; }
    .right-column .register .form-line input[type="text"],
    .right-column .register .form-line input[type="password"] {
      width: 220px;
      font-size: 18px; }
    .right-column .register .form-line .submit {
      margin-top: 10px;
      width: 350px;
      font-size: 24px;
      padding: 6px 3px;
      color: #045cbe; }

.lower {
  margin-top: 20px; }
  .lower .lower-headline {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px; }
  .lower .step {
    margin-bottom: 20px; }
    .lower .step img {
      height: 80px;
      float: left; }
    .lower .step .text-area {
      float: left;
      width: 600px;
      margin-left: 20px; }
      .lower .step .text-area .directive {
        font-size: 20px;
        color: #111;
        font-weight: bold; }

html {
  background-image: url(/static/images/whitey-pattern.png);
  background-repeat: repeat-x repeat-y; }
