.dash {
  width: 100%;
  background-color: #4DB8FF;
  padding: 10px 0px;
  margin: 0 auto; }
  .dash .dash-contents {
    width: 800px;
    margin: 0 auto; }
    .dash .dash-contents .logo {
      font-size: 18px;
      font-weight: bold;
      float: left;
      width: 100px;
      margin-left: 10px; }
    .dash .dash-contents .links {
      width: 300px;
      float: right;
      margin-right: 10px;
      text-align: right; }
      .dash .dash-contents .links a {
        margin-left: 10px; }
