html {
  background-image: url(/static/images/whitey-pattern.png);
  background-repeat: repeat-x repeat-y; }

.dash {
  width: 800px;
  margin: 0 auto 0 auto;
  opacity: 0.9;
  background-color: white;
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
  -moz-border-radius: 0px 0px 8px 8px;
  -webkit-border-radius: 0px 0px 8px 8px; }
  .dash .logo {
    float: left;
    height: 48px; }
  .dash .links {
    float: right;
    margin-top: 8px;
    font-size: 20px;
    margin-right: 20px;
    font-weight: bold; }
    .dash .links a {
      text-decoration: none;
      color: darkblue;
      margin-left: 20px; }
    .dash .links a:hover {
      text-decoration: underline; }

.column-800 {
  width: 800px;
  margin: 25px auto 30px auto;
  opacity: 0.9;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  color: black;
  padding-bottom: 30px; }
